/* ========== HEADER ========== */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 25px 0 15px;
}

header h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
