/* ========== MENU ========== */
nav {
  background-color: #444;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  font-weight: 500;
  margin: 0 25px;
  transition: 0.25s ease;
}

nav a:hover {
  color: #ffd700;
}
